.side-bar 
  .side-bar_user-name
    .side-bar_user-name_top-items
      .side-bar_user-name_top-items__name
        = current_user.name
      %ul.side-bar_user-name_top-items__icon
        %li<
        .side-bar_user-name_top-items__icon__edit
        = link_to new_group_path do
          %i.far.fa-edit
          
        %li<
        .side-bar_user-name_top-items__icon__config
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
  .side-bar__groups
    - current_user.groups.each do |group|
      .side-bar__groups__group
        = link_to group_message_index_path(group) do
          .side-bar__groups__group__name
            = group.name
          .side-bar__groups__group__message
            メッセージはまだありません。

          
